body{
    background-color: hsl(212, 45%, 89%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.scan{
    width: 21vw;
    background: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin: 30px;
    background-position: center;
    position: relative;
    top: 100px;
    left: 450px;
    
}
img{
    width: 20vw;
    height: 38vh;
    margin: 6px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 6%;
    background-position: center;
}
h1{
    margin: 2px;
    padding: 3px;
    text-align: center;
    font-size: 18.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
    position: relative;
    bottom: 7px;
    
}
.QRcode{
    text-align: center;
    font-weight: 400;
    font-size: 12.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    margin: 12px;
    position: relative;
    bottom: 22px;
    color: hsl(220, 15%, 55%);
    
}
    


